---
export interface Props {
  title: string;
}

const { title, frontmatter } = Astro.props;

import "uno.css";
import "@unocss/reset/tailwind.css";
import "../styles/markdown_style.css";

import Menu from "../components/Menu";
import ContactIcons from "../components/ContactIcons";
import { ViewTransitions } from "astro:transitions";
---

<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/bitmap.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Vincent / {frontmatter.title}</title>
    <ViewTransitions/>
  </head>
  <body class="dark:bg-onyx min-h-screen">
    <div
      class="fixed -top-28 left-50 border-pale-grey border-3 w-220 h-220 rounded-full -z-10 opacity-20"
    >
    </div>
    <div
      class="fixed -top-40 left-48 border-pale-grey border-3 w-180 h-180 rounded-full -z-10 opacity-20"
    >
    </div>
    <div
      class="fixed top-42 left-218 border-pale-grey border-3 w-20 h-20 rounded-full -z-10 opacity-70"
    >
    </div>
    <div
      class="fixed top-183 left-180 border-pale-grey border-3 w-12 h-12 rounded-full -z-10 opacity-70"
    >
    </div>

    <main class="w-screen-sm lg:w-screen-md mx-auto px-16 mt-44 z-10">
      <h1 class="">{frontmatter.title}</h1>
      <div class="flex flex-row px-2">
        <p class="grow">{frontmatter.date}</p>
        <p class="">{frontmatter.time}</p>
      </div>
      <div class="bg-darker-grey p-8">
        <slot />
      </div>
      <div class="h-32"></div>
      <ContactIcons client:load />
    </main>

    <div class="h-32"></div>

    <Menu client:load />
  </body>
</html>
